@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	/*font-size: 100%;*/
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

html {

}
　
body {
	font-family:'roboto','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,Osaka,'ＭＳ Ｐゴシック',Arial,sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


.page{
	/*position: absolute;
	right: 3%;*/
	width: 700px;
	border: solid 1px #336699 /*#fe6464*/;
	border-radius: 10px;
	
	margin:  auto;

}

.pagegroup{
	width: 1300px;
	margin: 0 auto;
	padding-top: 70px
}

.ulgroup{
	margin: 0 auto;
	width: 600px;
	margin-top: 10px;
	margin-bottom: 30px;
	border-top: solid 1px #336699 /*#fe6464*/;

}

li{
	margin-top: 10px;
	

}

.confirm{
	text-align: center;
	margin-top: 5px
}

h1{
	text-align: center;
	margin-top: 15px;
	/*color: #65d1f8;*/
	opacity: 0.7;
	color: white
}

p{
	/*color: #65d1f8;*/
	opacity: 0.7;
	color: white

}

h2{
	/*color: #65d1f8;*/
	opacity: 0.7;
	color: white
}
.backphoto{
	background-image: url("../photo/bar.jpg");
	height: 80vh;
	width: auto;
	background-size: auto 100%;
	background-position: center ;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

}
a{
	
	color: #3399cc

}

header{
	background-color: black;
	height: 10vh
}
footer{
	background-color: black;
	height: 10vh
}



